			/*html{
			font-size: 625%; 
		}*/
		body{
			/*font-family: "microsoft yahei" !important;*/
			font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
			/*font-size: 0.126rem;
			line-height: 1.5;*/
			color: #333333;
		}
		.spanClick{
			background: red;
		}
		.tab{
			width: 100%;
			/*margin-top: 69px;*/
    		background: #FFFFFF;
    	/*	display: table;*/
    		    border-top: 1px solid #f5f5f5;
    		    display: none;
    		        /*border-bottom: 1px solid #f5f5f5;*/
		}
		.tab span{
			width: 25%;
			text-align: center;
			/*display: table-cell;*/
			float: left;
			line-height: 38px;
			font-size: 14px;
			font-family: "微软雅黑";
			color: #333333;
			border-right: 1px solid #f5f5f5;
			border-bottom: 1px solid #f5f5f5;
		}
		.tab span i{
			font-size:13px;
			padding-left: 3px;
			color: #333333;
		}
		.tab span.rotatei i{
			transform:rotateZ(180deg);
			transition: linear .5s; 
			padding-right: 3px;
			    color: #333333;
		}
		.spanav{
			border-bottom: 0 !important;
			color: #0092db !important;
		}
		.Top_fixed{
			position: fixed;
			top: 0;
			left: html-body/2;
			z-index: 100;
		}
		/*.tab:after{
			content: "";
			display: block;
			clear: both;
			visibility: hidden;
		}*/
		.img img{
			width: 100%;
			display: block;
		}
		em,i{
			font-style: normal;
		}
		.hide-content>div>em{
			padding: 0 10px;
			line-height: 44px;
			font-size: 14px;
			display: table;
		}
		ul,li{
			list-style: none;
		}
		.hide-content>div>ul,.hide-content>div>ul>li{
			margin: 0;
			padding: 0;
		}
		.hide-content>div>ul{
			width: 100%;
			
			
   			
   			padding: 0 10px;
   			border-bottom: 1px solid #f5f5f5;
    padding-bottom: 10px;
		}
		
		
		.hide-content>div>ul>li{
			/*display: table-cell;*/
			display: inline-block;
			line-height: 44px;
		    border: 1px solid #ddd;
		    width: 32.3%;
		    background-color: #F5F5F5;
		    border-radius: 3px;
		    font-size: 13.4px;
		    white-space: nowrap;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    text-align: center;
		        margin-bottom: 5px;
		}
		.hide-content .hide-index{
			background: #FFFFFF;
			display: none;
		}
		.search-handle {
   			/*display: table;*/
   			height: 44px;
   			background: #FFFFFF;
   			display: none;
		}
		
		.search-handle a{
			line-height: 44px;
		    width: 50%;
		    text-align: center;
		    float: left;
		    color: #333333;
		    font-size: 14px;
		    
		}
		.search-handle a.search-btn{
			color: #FFFFFF;
			background: #0079d7;
		}
		.tab_box{
			margin-top: 20px;
		}
		.hiactive{
			color: #0079d7;
    		border: 1px solid #0079d7 !important;
    		transition: all .5s;
		}
		
		.hide{
			display: none;
		}
		 .tab.active {
    position: fixed;
    top: 44px;
    z-index: 99999;
}
#hide-content.max .hide-index{
	position: fixed;
	width: 100%;
	bottom: 0;
}

#hide-content.max{
	padding-bottom: 44px;
}
.sx-content{
	width: 100%;
	
}
.dddpp{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	display: none;
}
.mui-bar-nav{
	background: #f5f5f5;
	color: #181919;
	display: none;
}
.mui-bar-nav .mui-icon{
	font-family: "微软雅黑";
	font-size: 15px ;
	color: #333333;
	padding-top: 15px;
    padding-bottom: 13px;
    
}

 #returnTop {
	display:none;
	position:fixed;
	_position:absolute;
	z-index:999;
	right:18px;
	bottom:74px;
	_bottom:auto;
	width:48px;
	height:90px;
	text-indent:-999px;
	overflow:hidden;
	background: url(../images/yoptop.png);
background-size: 100%;
	_background-image:url(../images/top.png);
	background-repeat:no-repeat;
	background-position:0 0;
	transition:bottom 0.9s;
	-webkit-transition:bottom 0.9s;
	-moz-transition:bottom 0.9s;
	-o-transition:bottom 0.9s;
	animation: abc 1.5s infinite;
}

@-webkit-keyframes abc{
			0%{-webkit-transform:translate(0px,10px);}
			50%{-webkit-transform:translate(0px,30px);}
			100%{-webkit-transform:translate(0px,10px);}
		}
		@keyframes abc{
			0%{-webkit-transform:translate(0px,10px);}
			50%{-webkit-transform:translate(0px,30px);}
			100%{-webkit-transform:translate(0px,10px);}
	}

/*.actGotop{position:fixed; _position:absolute; bottom:100px; right:50px; width:150px; height:195px; display:none;}
.actGotop a,.actGotop a:link{width:150px;height:195px;display:inline-block; background:url(../images/yoptop.png) no-repeat; _background:url(../images/gotop.gif) no-repeat; outline:none;}*/

.mui-content{
	/*height: 1000px;*/
}
.product_xing {
			position: relative;
			top: .02rem;
			display: inline-block;
			font-size: 0;
			height: .3rem;
			line-height: .3rem;
			padding-top: .05rem;
		}
		
		.product_xing b {
			font-size: .2rem;
			font-style: normal;
			color: #4d4d4d;
			padding-left: .1rem;
			display: none;
		}
		
		.product_xing i {
			display: inline-block;
			font-size: 0;
			width: 16px;
			height: 16px;
			margin-right: .03rem;
			background-size: 100% 100%;
		}
		
		.newtogg .newwifg {
			display: none;
		}
		
		.newtogg .newwifg:first-child {
			display: block;
		}
		.p-active {
			background: #0092db !important;
		}

	/*商家页面 借条*/
	.mui-matchingbj {
		background: #FFFFFF;
	}
	
	.mui-matchingbj h5 {
		text-align: center;
		color: #333333 ;
		font-size: 14px;
		margin: 6px 0;
	    margin-top: 9px;
	}
	
	
	.mui-matchingbj h5 em {
		padding-right: 8px;
	/*	color: #fbd904;*/
		    color: #4d8bf5;
    vertical-align: middle;
    margin-top: -3px;
    font-size: 18px;
    animation:change 10s linear 0s infinite;
    -ms-animation:change 10s linear 0s infinite; /* Internet Explorer */
	-moz-animation:change 10s linear 0s infinite; /* Firefox */
	-webkit-animation:change 10s linear 0s infinite; /* Safari 和 Chrome */
	-o-animation:change 10s linear 0s infinite; /* Opera */
    
    
    
    
	}
	.mui-matchingbj h5{
		color: #333333 ;
		margin: 0;
		font-size: 13px;
		line-height: 30px;
		
		/*width: 94%;
    margin: auto;*/
    /*white-space:nowrap; 
    text-overflow: ellipsis;
    overflow: hidden;*/
	}
	#test{}
		@-webkit-keyframes change {
			0% {
				color: #333;
			}
			25% {
				color: #ff0;
			}
			50% {
				color: #f60;
			}
			75% {
				color: #cf0;
			}
			100% {
				color: #f00;
			}
		}
		
		@keyframes change {
			0% {
				color: #333;
			}
			25% {
				color: #ff0;
			}
			50% {
				color: #f60;
			}
			75% {
				color: #cf0;
			}
			100% {
				color: #f00;
			}
		}
		
		@-moz-keyframes change {
			0% {
				color: #333;
			}
			25% {
				color: #ff0;
			}
			50% {
				color: #f60;
			}
			75% {
				color: #cf0;
			}
			100% {
				color: #f00;
			}
		}
		
		
		@-o-webkit-keyframes change {
			0% {
				color: #333;
			}
			25% {
				color: #ff0;
			}
			50% {
				color: #f60;
			}
			75% {
				color: #cf0;
			}
			100% {
				color: #f00;
			}
		}
	.mui-control-content {
		height: 100%;
	}
	
	.newhl {
		border-radius: 0;
		border: 0;
	}
	
	.newhl .mui-control-item.mui-active {
		color: #fff;
		background-color: #0092db;
	}
	
	.newhl a {
		color: #FFFFFF;
		background: #adaaaa;
		border: 0;
		line-height: 64px;
		font-size: 16px;
		float: left;
		width: 50%;
		text-align: center;
		   /* padding: .6rem 0;*/
	}
	.newhl a i{
		font-size: 33px;
		vertical-align: middle;
	}
	.newhl a.mui-active {
		background: #0092db;
	}
	
	.mui-media-object1 {
		line-height: 40px;
		max-width: 40px;
		height: 40px;
		vertical-align: middle;
		margin-right: 10px;
	}
	
	.mui-slider .mui-table-view .mui-media-object {
		line-height: 60px;
		max-width: 60px;
		height: 60px;
		border-radius: 100%;
	}
	
	.mui-slider1 .mui-slider-indicator .mui-active {
		color: #0092db !important;
		
	}
	
	.jksj-tab  .ya-active i {
		background: url(../images/xjt111.png) 0px -1px;
		background-size: 100% 100%;
	}
	
	.mui-slider1 .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
		border-bottom: 0;
	}
	
	.newback {
		background: #FFFFFF;
	}
	
	.jksj-tab a i {
		display: inline-block;
		width: 12px;
		height: 14px;
		background: url(../images/xjt222.png) 0px -1px no-repeat;
		background-size: 100% 100%;
		margin-left: 5px;
		vertical-align: middle;
	}
	/*.mui-slider-group img{
		height: 150px;
	}*/
	
	.mui-slider ul .mui-table-view-cell {
		padding: 9px 15px;
	}
	
	.mui-table-view li div i.newi {
		font-style: normal;
		display: block;
		/*font-size: 12px;*/
		font-size: 14px;
		font-weight: normal;
		color: #333333;
		margin-top: 1px;
	}
	
	.mui-table-view-2 li div {
		color: #333333;
	/*	font-size: 15px;*/
	    font-size: 16px;
	}
	
	.matchingbj-ul .mui-media-object {
		line-height: 60px !important;
    max-width: 60px !important;
    height: 60px !important;
		border-radius: 100%;
	}
	
	.mui-table-view .mui-media-object.mui-pull-left {
		margin-right: 18px;
	}
	
	.icon-3 {
		/* color: #B5B5B5; */
		font-size: 15px;
		color: #FFB400;
	}
	
	.mui-inline {
		vertical-align: text-top;
		font-size: 14px;
		color: #8f8f94;
		display: inline-block;
	}
	
	.newsp {
		color: #949393;
		padding-left: 12px;
		float: right;
       /* padding-right: 10px;*/
	}
	
	.newsp1 {
		/*float: left;*/
		color: #0092db;
		padding-left: 10px;
	}
	
	.icons img {
		width: 15px;
		height: 14px;
		vertical-align: text-top;
		margin-top: 2px;
	}
	
	.mui-table-view-2 li div p span:first-child {
	/*	font-size: 12px;*/
		color: #949393;
		font-size: 14px;
	}
	
	.mui-table-view-2 li div p span:last-child {
	/*	font-size: 12px;*/
	font-size: 14px;
	    color: #333333;
	padding-left: 12px; 
	float: right;
    padding-right: 10px;
	}
	.mui-table-view-2 li div p span:last-child i{
		/*color: #0079d7;*/
		color: red;
		font-weight: bold;
	}
	.newtogg dd {
		margin: 0;
		/*font-size: 12px;*/
		font-size: 14px;
		color: #b3b3b3;
		    margin-bottom: 3px;
	}
	
	.newtogg dd i {
		font-size: 16px;
	}
	
	.newtogg dd em {
		display: inline-block;
		background: #b636fd;
		color: #FFFFFF;
		/*padding: 0 4px;*/
		margin-right: 6px;
		height: 19px;
		line-height: 19px;
		width: 19px;
		text-align: center;
	}
	
	em,
	i {
		font-style: normal;
	}
	
	.mui-ellipsis {
		margin-bottom: 2px;
	}
	
	.mui-table-view-cell:after {
		
	}
	
	.mui-segmented-control {
		font-size: 13px;
		 /* font-size: 1rem;*/
    	/*font-weight: 700;*/
	}
	
	.newback a {
		/*color: #333333 !important;*/
		    line-height: 40px;
	}
	
	.mui-slider-item {}
	
	.matchingbj-ul {
		padding-bottom: 50px;
	}
	
	.matchingbj-ul li .mui-active {
		background: none !important;
	}
	
	.matchingbj-ul li {
		/*padding-right: 2%;*/
		position: relative;
	}
	
	.matchingbj-ul li a {
		margin-bottom: 0 !important;
	}
	
	.matchingbj-show {
		padding: 0;
		display: none;
	}
	
	.newtogg {
		/*float: right;*/
		padding-left: 78px;
	}
	.matchingbj-ul li a{
		padding-bottom: 4px !important;
	}
	/*筛选 隐藏*/
	
	ul,
	li {
		list-style: none;
	}
	
	.match-togg li {}
	
	.match-togg .match-efl {
		padding: 0;
		margin: 0;
	}
	
	.match-efl li {
		margin: 0;
		border-bottom: 1px solid #eae9ea;
		padding: 8px 12px;
		/*  line-height: 28px;*/
		font-size: 13px;
	}
	
	.match-efl li:last-child {
		margin-right: 0;
	}
	
	.match-togg h5 {
		text-align: left;
		background: #efefef;
		margin: 0;
		padding: 10px 0;
		/*border-left: 1px solid #5e99f5;*/
	}
	
	.match-togg h5 i.bleft {
		border-left: 1px solid #5e99f5;
		/*padding-left: 13px;*/
		padding-right: 12px;
	}
	
	.clear:after {
		content: "";
		display: block;
		clear: both;
		visibility: hidden;
	}
	
	.match-togg dl dd {
		margin: 0;
		font-size: 12px;
		color: #b3b3b3;
		border-bottom: 1px solid #eae9ea;
		padding: 8px 12px;
	}
	
	.match-togg dl {
		padding: 0;
		margin: 0;
	}
	
	.match-togg dl dd em {
		display: inline-block;
		background: #b636fd;
		color: #FFFFFF;
		/* padding: 0 4px; */
		margin-right: 6px;
		height: 19px;
		line-height: 19px;
		width: 19px;
		text-align: center;
	}
	
	#macth-at {
		line-height: 44px;
		border-top: 1px solid #eae9ea;
		margin-top: 20px;
	}
	
	#macth-at a {
		width: 50%;
		float: left;
		font-size: 14px;
		color: #EEEEEE;
		text-align: center;
	}
	
	#macth-at a:first-child {
		width: 70%;
		background: #FFFFFF;
		color: #bbbbbb;
		text-align: left;
		padding-left: 10%;
	}
	
	#macth-at a:last-child {
		width: 30%;
		background: #5e99f5;
	}
	
	.match-efl li.tgacti i {
		width: 14px;
		height: 14px;
		/*.tgacti*/
		float: right;
		margin-top: 2px;
	}
	
	.match-efl li.tgacti {
		background: url(../images/gouto.png) no-repeat right center;
		background-size: 18px;
	}
	
	.match-togg dl dd.tgacti {
		background: url(../images/gouto.png) no-repeat right center;
		background-size: 18px;
	}
	
	.match-togg {
		display: none;
	}
	
	#dpo {}
	.jksj-tab a{
		color: #333333;
		width: 25%;
		/*font-size: 1.03rem;*/
		font-size: 14px;
		float: left;
		line-height: 40px;
		text-align: center;
	}
		.jksj-tab{
		background: #FFFFFF;
		display: none;
	}
.jksj-tab a.ya-active{
		color: #0092db;
}

.mui-table-view:before{
	height: 0;
}
.seach {
    width: 60px;
    height: 60px;
    display: inline-block;
    background: #1699ff;
    border-radius: 50%;
    color:#ffffff;
    position: fixed;
    bottom: 70px;
    right: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 0px 5px rgba(0, 121, 215, 0.2);
    z-index: 1;
    padding: 8px 14px;
    font-size: 16px;
    
}
.seach a{
	color: #FFFFFF;
	
}
.search-img-btn:active{
	color: #FFFFFF;
}
.search{
	display: none;
	position: fixed;
    bottom: 146px;
    right: 9px;
    z-index: 100;
    /*transition:right .3s ease-in-out .1s;*/
}

.search button{
	display: table;
	margin-top: 10px;
}

.WXsh{
	position: absolute;
    top: 12px;
    left: 8px;
    background: #44b549;
    color: #FFFFFF;
    font-size: 10px;
    padding: 0 4px;
   /*border-left :  60px solid transparent ;    
border-right :  60px solid transparent ;    */


     transform: scale(.8) rotateZ(-24deg);
    
}
